<mat-card class="example-card" *ngFor="let joke of dislikeJokeArray;let i = index">

  <mat-card-header *ngIf="i+1==1">
    <mat-card-title class="content"> I don't like them</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">

    <ng-container *ngIf="joke.type=='twopart'">
      <table>
        <tr>
          <td rowspan="2" class="content-ava"> <span class="content-spa">{{i+1}}</span></td>
          <td>
            {{joke.setup}}
          </td>
        </tr>
        <tr>
          <td>
            {{joke.delivery}}
          </td>
        </tr>
      </table>
    </ng-container>
    <ng-container *ngIf="joke.type=='single'">
      <table>
        <tr>
          <td rowspan="2" class="content-ava"> <span class="content-spa">{{i+1}}</span></td>
          <td>
            {{joke.joke}}
          </td>
        </tr>

      </table>
    </ng-container>
  </mat-card-content>
  <mat-card-actions class="content-c">
    <div class="divButtonLike">
      <button mat-raised-button class="buttonGreen" (click)="muovi(joke)">Like</button>
      <button mat-raised-button class="buttonGreen" (click)="cancella(joke)">Delete</button>
    </div>
  </mat-card-actions>
</mat-card>

