span
{
  color:red;
  font-weight: bold;
}
table {
  table-layout: fixed;

}

td {
  width: 10%;
}

.borderStaff{
    outline: thin solid green
}
.borderAdmin{
    outline: medium dashed  blue
}
.borderManager{
    outline: thick dotted violet
}
