<div class="container-fluid">
  <div class="row sposta ">
    <div class="col-lg-5 d-flex align-items-center">
      <div>
      <h2 class="colored"> HOW TO PREVENT CYBER ATTACKS</h2>

      <h4 class="py-2">Any small action can make a big difference
        for your CyberSecurity in Bulgari.</h4>
        </div>

    </div>
    <div class="col-lg-7 ">
      <div class="row justify-content-between ">
        <div class="box">
          <img src="assets/security/Whatsapp.png" alt="">
          Whatsapp<br>Security
        </div>
        <div class="box">
          <img src="assets/security/TBD.png" alt="">
          Safety tips to prevent email phishing
        </div>
        <div class="w-100"></div>
        <div class="box">
          <img src="assets/security/PhisAlarm_Icon.png" alt="" >
          PhishAlarm
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div  id="linea">
  <div class="divisore"></div>
</div>
<!--  -->
<div class="container-fluid">
  <div class="row sposta ">
    <div class="col-lg-5 d-flex align-items-center">
      <div>
        <h2 class="colored"> HOW TO REACT TO CYBER ATTACKS</h2>

        <h4 class="py-2">Don't panic: learn everything you need to know to
        promptly reat to potential cyber risks.</h4>
      </div>

    </div>
    <div class="col-lg-7 ">
      <div class="row justify-content-between ">
        <div class="box">

          Do you suspect your WhatsApp account has been hacked?
        </div>
        <div class="box1">

          COMING SOON
        </div>
        <div class="w-100"></div>
        <div class="box1">

          COMING SOON
        </div>
      </div>
    </div>
  </div>
</div>
