<section class="bg-light" id="portfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="intro">
          <h6>Work</h6>
          <h1>Successful projects</h1>
          <p class="mx-auto">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
            roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bd-example">
  <div id="projects-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#projects-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#projects-carousel" data-slide-to="1"></li>
      <li data-target="#projects-carousel" data-slide-to="2"></li>
      <li data-target="#projects-carousel" data-slide-to="3"></li>
      <li data-target="#projects-carousel" data-slide-to="4"></li>
    </ol>
    <div class=" carousel-inner">
      <div class="carousel-item active">
        <div class="project">
          <div class="overlay"></div>
          <img src="assets/premium/project1.jpg" alt="">
          <div class="content carousel-caption d-none d-md-block">
            <h2>Consulting Marketing</h2>
            <h6>Website Design</h6>
          </div>
        </div>
      </div>
      <div class="carousel-item">
      <div class="project">
        <div class="overlay"></div>
        <img src="assets/premium/project2.jpg" alt="">
        <div class="content carousel-caption d-none d-md-block">
          <h2>Consulting Marketing</h2>
          <h6>Website Design</h6>
        </div>
      </div>
      </div>
      <div class="carousel-item">
      <div class="project">
        <div class="overlay"></div>
        <img src="assets/premium/project3.jpg" alt="">
        <div class="content carousel-caption d-none d-md-block">
          <h2>Consulting Marketing</h2>
          <h6>Website Design</h6>
        </div>
      </div>
      </div>
      <div class="carousel-item">
      <div class="project">
        <div class="overlay"></div>
        <img src="assets/premium/project4.jpg" alt="">
        <div class="content carousel-caption d-none d-md-block">
          <h2>Consulting Marketing</h2>
          <h6>Website Design</h6>
        </div>
      </div>
      </div>
      <div class="carousel-item">
      <div class="project">
        <div class="overlay"></div>
        <img src="assets/premium/project5.jpg" alt="">
        <div class="conten carousel-caption d-none d-md-block">
          <h2>Consulting Marketing</h2>
          <h6>Website Design</h6>
        </div>
      </div>
    </div>
    </div>

    <a class="carousel-control-prev" href="#projects-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#projects-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
  </div>
</section>
