<div class="container-fluid py-4 sfondo">
  <div class="row sposta">
    <div class="col-lg-12 text-center">
      <h3 class="colored">Stay up-to-date on our Yammer group</h3>
    </div>
  </div>
  <div class="row sposta">
    <div class="col-lg-12 d-flex justify-content-end">
      <div class="d-inline">
        <a href="#" class="align-bottom">View all</a>
        <a href="#" class="btn-mio align-center">Start a discussion</a>
      </div>
    </div>
  </div>
  <div class="row sposta">
    <div class="col-lg-12 d-flex justify-content-center">
      <div class="card" >
        <div class="card-header">
          <div class="d-inline-flex">
            <i class="fa-solid fa-bullhorn"></i>
            <h6>Announcement posted in Privacy4us</h6>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex">
            <div>
              <img id="fotina" src="assets/security/team_1.jpg" alt="Security">
            </div>
            <div class="ms-2">
              <h5 class="card-title">John Wayne</h5>
              <h6 class="card-subtitle mb-2 text-muted">yesterday at 9:56 AM</h6>
            </div>
          </div>
          <p class="card-text text-dark py-1">Who's Who ? </p>
          <div class="card-body m-0 p-1">
            Today we present you John Wayne !
            <div class="d-flex py-4">
              <i class="fa fa-paperclip" aria-hidden="true"></i>
              <h6 >1 attachment</h6>
            </div>
          </div>

          <div class="card-footer">
            <div class="d-flex justify-content-between">
              <div>See 2 comment</div>
              <div class="d-flex">
                <i class="fa fa-thumbs-o-up m-1" aria-hidden="true"></i>
                <i class="fa-solid fa-hands-clapping m-1"></i>
                <i class="fa fa-heart m-1" aria-hidden="true"></i>
                <h6 class="m-1">13</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- second -->
      <div class="card" >
        <div class="card-header">
          <div class="d-inline-flex">
            <i class="fa-solid fa-bullhorn"></i>
            <h6>Announcement posted in Privacy4us</h6>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex">
            <div>
              <img id="fotina" src="assets/security/team_1.jpg" alt="Security">
            </div>
            <div class="ms-2">
              <h5 class="card-title">John Wayne</h5>
              <h6 class="card-subtitle mb-2 text-muted">yesterday at 9:56 AM</h6>
            </div>
          </div>
          <p class="card-text text-dark py-1">Who's Who ? </p>
          <div class="card-body m-0 py-1">
            Hi Everyone, got any interest in China’s Personal Information Protection Law? Here’s a general introduction for your
            reference😊😊

            As you may know, In August, 2021, the Standing Committee of China National People’s Congress passed the Personal
            Information Protection Law(“PIPL”), which has come into force in November, 2021. Before that, there are some
            <div class="d-flex py-4">
              <i class="fa fa-paperclip" aria-hidden="true"></i>
              <h6>1 attachment</h6>
            </div>
          </div>

          <div class="card-footer">
            <div class="d-flex justify-content-between">
              <div>See 2 comment</div>
              <div class="d-flex">
                <i class="fa fa-thumbs-o-up m-1" aria-hidden="true"></i>
                <i class="fa-solid fa-hands-clapping m-1"></i>
                <i class="fa fa-heart m-1" aria-hidden="true"></i>
                <h6 class="m-1">13</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- thir -->
      <div class="card" >
        <div class="card-header">
          <div class="d-inline-flex">
            <i class="fa-solid fa-bullhorn"></i>
            <h6>Announcement posted in Privacy4us</h6>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex">
            <div>
              <img id="fotina" src="assets/security/team_1.jpg" alt="Security">
            </div>
            <div class="ms-2">
              <h5 class="card-title">John Wayne</h5>
              <h6 class="card-subtitle mb-2 text-muted">yesterday at 9:56 AM</h6>
            </div>
          </div>
          <p class="card-text text-dark py-1">Who's Who ? </p>
          <div class="card-body m-0 py-1">
            <a href="#">GDPR (opens in new tab) # (opens in new tab)dataprotection (opens in new tab) #privacy (opens in new tab) #compliance
            (opens in new tab) #learning (opens in new tab) # (opens in new tab)DataProtectionCoordinators</a>
           <br>
            Delphine Dherouel Sonia Kayanakis  Christine Limbrunner Mariangeles Presa  Marina Trezza  Ester Zheng  Eilish Maguire
             HIYAMA Yukie (HR) (opens in new tab) Anne Lauly  Diane Kim Valeria Kudinova  Marta Acconcia  Simone Marcovecchio  Deborah
            Marinacci  Lydia
            <div class="d-flex py-4">
              <i class="fa fa-paperclip" aria-hidden="true"></i>
              <h6>1 attachment</h6>
            </div>
          </div>

          <div class="card-footer">
            <div class="d-flex justify-content-between">
              <div>See 2 comment</div>
              <div class="d-flex">
                <i class="fa fa-thumbs-o-up m-1" aria-hidden="true"></i>
                <i class="fa-solid fa-hands-clapping m-1"></i>
                <i class="fa fa-heart m-1" aria-hidden="true"></i>
                <h6 class="m-1">13</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
