body {
	font-family: monospace;
}

#expand-toggle {
	display: unset;
}

#expand-toggle:checked ~ table .expandable{
	 visibility:visible; 
}

#expand-toggle:checked ~ #expand-btn{
	background-color: #88ff88;
}

#expand-toggle:checked ~ #expand-btn:after{
	content: "Nascondi righe";
}
#expand-btn:after{
	content: "Mostra righe";
}

.expandable {
	visibility: collapse;
	background: gray;
	color: white;
}

#expand-btn {
	display: inline-block;
	margin-top: 12px;
	padding: 6px 12px;
	background-color: #ff8888;
	border: 1px solid;
	border-radius: 3px;
	transition: 0,3s;
} 


/* header { height: 20%; background-color: rgb(255, 221, 248); }
article { height: 80%; background-color: rgb(255, 225, 221); }
.overlay { background-color: rgba(32, 32, 32, 0.5); position: absolute; left: 0; right: 0; top: 0; bottom: 0; display: none; }
h1 { font-size: 150%; }
.overlay > table { width: 100%; height: 100%; }
.overlay > table td { vertical-align: center; text-align: center; }
.overlay > table td div { padding: 20px; background-color: #fff; display: inline-block; }
input[type=checkbox] {display: none;}
#header:checked + header { display: none; }
#header:checked ~ article { height: 100%; }
article label[for=header] { display: none; }
#header:checked ~ article label[for=header] {display: inline-block; }
#overlay:checked + .overlay { display: block; }
p { text-align: center; padding: 10px; }

label { display: inline-block; padding: 2px 4px; border: 1px solid #333; background-color: rgba(32, 32, 32, 0.9); border-radius: 6px; font-size: 80%; font-weight: bold; color: #fff; }

#all:checked ~ header { background-color: #fde; }
#all:checked ~ article { background-color: rgb(231, 221, 255); } */