
<div class="container-fluid p-0 main" *ngIf="visible | async as visibile">

  <div class="row d-flex justify-content-end ">
    <div class="col-6  contatti">
      <span class="sposta"><i class="fas fa-envelope sposta"></i>contact@MagicoPeppe.com</span>
      <span><i class="fas fa-phone mr-3"></i>+1 Giu61Mito</span>
    </div>
    <div class="icone col-6  d-flex justify-content-end align-items-center">


      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-youtube"></i>

    </div>
  </div>

</div>

  <!--   NAVIGATION -->
  <section class="header" id="" *ngIf="visible | async as visibile">
    <div class="container-fluid p-0">
      <div class="row d-flex">

        <div class="col-lg-4  barra">
          <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-align-right text-light"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

              <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                  <a class="nav-link " routerLink="book" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="naviga()">E-Bookshop
                    <span class="sr-only">(current)</span>
                  </a>

                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="food" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="naviga()">E-Foodshop</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="premier" routerLinkActive="active" ariaCurrentWhenActive="page" (click)="naviga()">Company</a>
                </li>

              </ul>

            </div>
          </nav>
        </div>

      </div>
    </div>
  </section>

<router-outlet *ngIf="cliccato | async as cisono"></router-outlet>
