<div class="container">
  <div class="refused">
    <h2 style="text-align:center">Pokemon rifiutati:</h2>
  </div>
  <div class="select" *ngIf="pokemonObservable | async as poke">
    <div class="name">
      <h3>{{poke.name}}</h3>
    </div>
    <div class="container-poke">
      <div class="detail">
        <h3 style="text-align:center">Dettagli</h3>
        <table style="padding-left: 10px;">
          <tr>
            <td> ID:</td>
            <td>{{poke.id}}</td>
          </tr>
          <tr>
            <td>Name:</td>
            <td>{{poke.name}}</td>
          </tr>
          <tr>
            <td> Weight:</td>
            <td>{{poke.weight}}</td>
          </tr>
          <tr>
            <td> Height:</td>
            <td>{{poke.height}}</td>
          </tr>
        </table>
      </div>
      <div class="detail-img">
        <img [src]="poke.sprites?.other?.home?.front_default" >
      </div>
    </div>
  </div>
  <div class="accepted">
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
    <div class="elemento"></div>
  </div>
</div>
