<div class="container-fluid">
  <div class="row sposta">
    <h1 class="colored">WHAT IS CYBERSECURITY ABOUT</h1>
    <h3 class="light">Click on each button to discover more</h3>
  </div>
  <div class="row sposta">
    <div class="col-lg-12 sfondo">
      <div class="row sposta justify-content-center">
        <div class="box box1">
          A new important<br> important is coming
        </div>
        <div class="box box1">
          ZSCALER<br>Protect your Browser
        </div>
        <div class="box box2">
          COMING SOON
        </div>
        <div class="box box2">
          COMING SOON
        </div>
    </div>
  </div>
</div>
