.colored {
  color: rgb(0, 90, 111);
}

.backcolored {
  color: rgb(144, 0, 70);
}

.btn-largo {
  height: 4rem;
  /* padding: 1rem !important; */
  border-radius: 12px;
  width: 20rem;
  color: white;
  background-color: rgb(144, 0, 70);
  text-align: center;
  border: none;
   padding: 20px;
   display: inline-block;
}
.btn-largo-2 {
  height: 4rem;
  /* padding: 1rem !important; */
  border-radius: 12px;
  width: 12rem;
    text-align: center;
  border: none;
  padding: 20px;
  display: inline-block;
  margin: 2rem;
  font-weight:500;
}
.btn-1 {
color: white;
  background: rgb(191, 191, 191) none repeat scroll 0% 0%;
}
.btn-2{
  color: black;


}
.sfondo {
  background-image: url("/assets/security/PURPLE_BIG.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* width: 100%; */
}
.sfondo:hover {
  background-image: url("/assets/security/ORANGE_BIG.png");
}
.sposta {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 3rem;
}


#linea {
  position: relative;
  margin-left: 2rem;
  margin-right: 3rem;
  margin-top: 3rem;
}

.divisore {
  width: 95%;
  height: 2px;
  /* background-color: #900046; */
  margin: auto;
  border: 2px solid #900046;
  }

