<div class="container-fluid">
  <div class="row sposta ">
    <div class="col-lg-5 d-flex align-items-center">
      <div>
        <h2 class="colored">APPLY CYBERSECURITY BY DESIGN</h2>
        <h4 class="py-2">Few simple steps to ensure your project are 'cyber-proofed'.</h4>
      </div>

    </div>
    <div class="col-lg-7 ">
      <div class="row justify-content-between ">
        <div class="box">

          Do you suspect your WhatsApp account has been hacked?
        </div>
        <!--  -->
        <div id="linea">
          <div class="divisore"></div>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
</div>
