<div class="container-fluid">
  <div class="row sposta ">
    <div class="col-lg-6 d-flex align-items-center">
      <div>
        <h3 class="colored">APPLY CYBERSECURITY BY DESIGN</h3>
        <h5 class="py-2">Few simple steps to ensure your project are 'cyber-proofed'.</h5>
      </div>

    </div>
    <div class="col-lg-6 d-flex align-items-center">

      <button class="btn-largo">
        Click to learn more
      </button>
    </div>
  </div>
</div>

<!--  -->
<div id="linea">
  <div class="divisore"></div>
</div>
<!--  -->
<div class="container-fluid">
<div class="row sposta ">
  <div class="col-lg-6 d-flex align-items-center">
    <div>
      <h3 class="colored">DO YOU WANT TO KNOW MORE</h3>
      <h5 class="py-2">Become our Cyber hero in Bulgari.</h5>
    </div>
  </div>
  <div class="col-lg-6 d-flex flex-column justify-content-center">

    <button class="btn-largo-2 btn-2">
      Coming Soon
    </button>
    <button class="btn-largo-2 btn-1 sfondo">
     Contact us
    </button>
  </div>
</div>
</div>
