<div class="container-fluid backcolored py-4">
  <div class="row ">
    <div class="col-lg-3 ">
      <h1 class="colored-yellow">LASTEST NEWS</h1>
    </div>
    <div class="col-lg-9 my-auto ">
      <div #carousel id="footer-carousel" class="carousel slide" data-bs-ride="carousel"  data-interval="1000">
<div class="carousel-indicators">
  <button type="button" data-bs-target="#footer-carousel" data-bs-slide-to="0" class="active" aria-current="true"
    aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#footer-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#footer-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>

</div>


        <div class="carousel-inner">
          <div class="carousel-item active ">
            <h6>Ransomware Group Debuts Searchable Victim Data: Cybercrime groups that specialize in stealing corporate data and
            demanding a ransom not to publish it have tried c</h6>
          </div>
          <div class="carousel-item">
            <h6>Adconion Execs Plead Guilty in Federal Anti-Spam Case: On the eve of their federal criminal trial for allegedly stealing
            vast swaths of Internet addresses for use in larg</h6>
          </div>
          <div class="carousel-item">
            <h6>KrebsOnSecurity in New Netflix Series on Cybercrime: Netflix has a new documentary series airing next week -- "Web of
            Make Believe: Death, Lies & the Internet"</h6>
          </div>
        </div> <!--and innner-->
        <button class="carousel-control-prev" type="button" data-bs-target="#footer-carousel" data-bs-slide="prev">
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#footer-carousel" data-bs-slide="next">
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
          <span class="visually-hidden">Next</span>
        </button>

      </div>
    </div>
  </div>
</div>
