<div class="container-fluid backcolored py-4">
  <div class="row ">
    <div class="col-lg-3 ">
      <h1 class="colored-yellow">LASTEST NEWS</h1>
    </div>
    <div class="col-lg-9 my-auto ">
      <div id="footer-carousel" class="carousel slide" data-bs-ride="carousel">

<!-- <div class="carousel-footer"> -->
  <ol class="carousel-indicators">
    <li data-target="#footer-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#footer-carousel" data-slide-to="1"></li>
    <li data-target="#footer-carousel" data-slide-to="2"></li>
  </ol>
<!-- </div> -->


        <div class="carousel-inner">
          <div class="carousel-item active ">
            <h6>Ransomware Group Debuts Searchable Victim Data: Cybercrime groups that specialize in stealing corporate data and
            demanding a ransom not to publish it have tried c</h6>
          </div>
          <div class="carousel-item">
            <h6>Adconion Execs Plead Guilty in Federal Anti-Spam Case: On the eve of their federal criminal trial for allegedly stealing
            vast swaths of Internet addresses for use in larg</h6>
          </div>
          <div class="carousel-item">
            <h6>KrebsOnSecurity in New Netflix Series on Cybercrime: Netflix has a new documentary series airing next week -- "Web of
            Make Believe: Death, Lies & the Internet"</h6>
          </div>
        </div> <!--and innner-->
        <!-- <a class="carousel-control-prev" href="#footer-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#footer-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->

      </div>
    </div>
  </div>
</div>
