
.container
{
 background-image: url(../../../assets/foto/pokemon.jpg);
 display: flex;
  justify-content: space-between;
  height: 100vh;
  width:100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

}
.pokelist, .pokedetail {
  width:45%;
  height:80%;
  background-color:red;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:auto;
  margin-right: auto;
}
