    .slidex {
      min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    }

    .slide1 {
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("/assets/premium/bg_banner1.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
.slidex .display-3 {
  text-transform: uppercase;
  color: #fff;
}
.slide2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url("/assets/premium/bg_banner2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
/* .carousel-indicators li {
  background-color: grey;
  height: 0.5rem !important;
  width: 2rem !important;
  z-index: 1 !important;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-indicators li.active {
  background-color: whitesmoke;
} */
.btn {
  padding: 8px 26px;
}

.btn-brand {
  border-color: var(--brand);
  background-color: var(--brand);
  color: #fff;
}

.btn-brand:hover {
  background-color: #d64022;
  border-color: #d64022;
  color: #fff;
}

