<section class="new">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-lg-7 m-auto">
        <div class="row text-center">
          <div class="col-lg-4 position-circle" >
            <div class="circle"></div>
                      <img src="/assets/food/ananas.png" alt="" class="img-fluid">
                      <h6>NATURAL</h6>
          </div>
          <div class="col-lg-4 position-circle" >
            <div class="circle"></div>
            <img src="/assets/food/grapes.png" alt="" class="img-fluid">
            <h6 class="m-15">NATURAL</h6>
           </div>
          <div class="col-lg-4 position-circle">
            <div class="circle"></div>
            <img src="/assets/food/banana.png" alt="" class="img-fluid">
            <h6>NATURAL</h6> </div>
        </div>
      </div>
    </div>
  </div>
</section>
