<!-- Search Bar -->
<div class="container-fluid main">
  <div class="row justify-content-start p-1">
    <div class="col-lg-3 icone">
          <i class="ms-Icon ms-Icon--WaffleOffice365"></i>
    </div>
    <div class="col-lg-5 ms-auto py-2">
      <div class="input-group  " >
        <span class="input-group-text border-0 border-end-0 " id="search-addon">
          <i class="fas fa-search"></i>
        </span>
        <input type="search" class="form-control border-end-0" placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" />
          <select class="form-select form" aria-label=".form-select-sm example" style="max-width: 10rem;">
            <!-- <option selected>Open this select menu</option> -->
            <option value="1">Current site</option>
            <option value="2">Whole organization</option>
            <!-- <option value="3">Three</option> -->
          </select>
      </div>

    </div>
    <div class="col-lg-4">
      <div class="row ">
        <div class=" col-12  icone d-flex justify-content-end align-items-center ">
        <i class="fa-solid fa-gear"></i>
        <i class="fa-solid fa-question"></i>
        <img class="head-img" src="assets/security/team_1.jpg" alt="placeholder image" >
        </div>
        </div>
        </div>

</div>
</div>
  <!-- NAVIGATION -->

<section class="header" id="header">
  <div class="container-fluid">
    <div class="row d-flex">
      <div class="col-lg-2 contatti">
        <h6 class="p-0">C Y B E R S E CU R I T Y</h6>
      </div>
      <div class="col-lg-10 ">
        <nav class="navbar navbar-expand-lg ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-right text-light"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav me-auto">
              <li class="nav-item active">
                <a class="nav-link " href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <a href="#" class="nav-link">Cyber Cafè <i class="fa-solid fa-arrow-down"></i></a>
                  <div class="dropdown-content">
                    <a href="#">A VIP might not a VAP</a>
                    <a href="#">April Fool - Have you ever received a phishing email?</a>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <a href="#" class="nav-link">Prevent Cyver Attacks <i class="fa-solid fa-arrow-down"></i></a>
                  <div class="dropdown-content">
                    <a href="#">WhatsApp Security</a>
                    <a href="#">Safety tips to prevent email phishing</a>
                    <a href="#">PhisAlarm</a>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <a href="#" class="nav-link">React to Cyber Attacks <i class="fa-solid fa-arrow-down"></i></a>
                  <div class="dropdown-content">
                    <a href="#">Do you suspect your password are compromised?</a>

                  </div>
                </div>
              </li>

              <li class="nav-item dropdown">
                <div class="dropdown">
                  <a href="#" class="nav-link">Cybersecurity</a>
                  <div class="dropdown-content">
                    <a href="#">A new important initiative is coming</a>
                    <a href="#">ZScaler - Protect your Browser</a>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Start a new Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Yammer Group</a>
              </li>

            </ul>

          </div>
        </nav>
      </div>
    </div>
  </div>
</section>

