<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slidex" data-ride="carousel">
    <ol class="carousel-indicators d-flex text-center">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active" ></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <!-- <li data-target="#carouselExampleCaptions" data-slide-to="2"></li> -->
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container slidex slide1">
          <div class="row ">
            <div class="col-12 text-center ">
              <h6 class="text-white text-uppercase">design Driven for professional</h6>
              <h1 class="display-3 my-4">We craft digital<br />experiances</h1>
              <a href="#" class="btn btn-brand btn-outline-light">Get Started</a>
              <a href="#" class="btn btn-outline-light ms-3">Our work</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container slidex slide2">
          <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1 text-white">
              <h6 class="text-white text-uppercase">We craft digital experiances</h6>
              <h1 class="display-3 my-4">Design Driven For <br />Professionals</h1>
              <a href="#" class="btn btn-brand btn-outline-light">Get Started</a>
              <a href="#" class="btn btn-outline-light ms-3">Our work</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
