<H1 style="text-align: center;">Sono lo user detail component</H1>
<table>
  <thead style="text-align: center;font-weight: bold;">
    User Detail
  </thead>
  <tbody >
    <tr>
      <td>ID</td>
      <td>{{user.id}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{user.name}}</td>
    </tr>
    <tr>
      <td>Surname</td>
      <td>{{user.surname}}</td>
    </tr>
    <tr>
      <td>Age</td>
      <td>{{user.age}}</td>
    </tr>
    <tr>
      <td>Date of birth</td>
      <td>{{trasformDate(user.dateOfBirth)}}</td>
    </tr>
    <tr>
      <td><span style="font-weight: bold;">Address:</span> </td>
      <td></td>
    </tr>
    <tr>
      <td>City</td>
      <td>{{user.address.city}}</td>
    </tr>
    <tr>
      <td>Street</td>
      <td>{{user.address.street}}</td>
    </tr>
    <tr>
      <td>Postal Code</td>
      <td>{{user.address.postalCode}}</td>
    </tr>
    <tr>
      <td>Role</td>
      <td>{{user.role}}</td>
    </tr>
    <tr>
      <td>username</td>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <td>Image</td>
      <td *ngIf="user.profilePhotoUrl=='';else imageON">Missing Image</td>
      <ng-template #imageON>
        <td><img width="100px" src="{{user.profilePhotoUrl}}" alt="gatto"></td>
      </ng-template>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{user.gender}}</td>
    </tr>
    <div *ngFor="let company of user.company">

    <tr >
      <td > Company:</td>
      <td > {{company.name}}</td>
   </tr>

    <tr >
      <td> Description:</td>
      <td> {{company.description}}</td>
   </tr>
    </div>


  </tbody>
</table>
