<div class="container-fluid p-0 main">

  <div class="row d-flex justify-content-end ">
    <div class="col-6  contatti">
      <span class="sposta"><i class="fas fa-envelope sposta"></i>contact@example.com</span>
      <span><i class="fas fa-phone mr-3"></i>+1 558955488 55</span>
    </div>
    <div class="icone col-6  d-flex justify-content-end align-items-center">


      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-youtube"></i>

    </div>
  </div>

</div>
<!--   NAVIGATION -->
<section class="header" id="">
  <div class="container-fluid p-0">
    <div class="row d-flex">
      <div class="col-lg-4 contatti">
        <h1 class="p-0">PROXIMA</h1>
      </div>
      <div class="col-lg-8  barra">
        <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-right text-light"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                <a class="nav-link " href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Portfoglio</a>
              </li>
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <a href="#" class="nav-link">Team</a>
                  <div class="dropdown-content">
                    <a href="#">Generic</a>
                    <a href="#">Element</a>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-primary ">Join Us</a>
              </li>
            </ul>

          </div>
        </nav>
      </div>
    </div>
  </div>
</section>

