/* * {
    margin: 0;
} */

/* html,body {
    width: 100%;
    height: 100%;
} */

.container {
    height: 100%;
    width: 100%;
    display: flex;
}

header {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: khaki;

}
.header {
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: khaki;
    border: solid 3px;

}
.cerchietto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
    margin-left: auto;
    margin-top: auto;
}

.rettangolo {
    width: 221px;
    height: 23px;
    margin-left: 25px;
}

input {
    width: 100%;
}

.smallrettangolo {
    width: 25px;
    height: 23px;
    background-color: grey;
    margin-right: 25px;
}



.divretta {
    width: 183px;
    height: 55px;
    background-color: lavender;
    margin-top: 21px;
}

nav {
    background-color: grey;
    height: 100%;
    width: 266px;
    display: flex;
    flex-direction: column;
    align-items: center;

